:root {
  --body-bg-img: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823);

  --card-hue: 240;
  --card-bg-color: hsl(var(--card-hue) 0% 100% / 45%);
  --card-text-color-pri: hsl(var(--card-hue) 33% 20%);
  --card-text-color-sec: hsl(var(--card-hue) 25% 30%);
  --card-shadow: hsl(var(--card-hue) 0% 0% / 25%);
  --card-border-color: hsl(var(--card-hue) 0% 100% / 35%);

  --credits-text-color: hsl(var(--card-hue) 50% 90%);
  --credits-bg-color: hsl(var(--card-hue) 25% 25% / 50%);
}
