:root {
  font-size: 130%;
  --body-bg-img: url(https://source.unsplash.com/cPccYbPrF-A/2400x1823);

  --card-radius: .25em;
  --card-border-width: 1px;
}

.card-stack {
  position: relative;
  min-height: 100vh;
  height: 100%;
  padding: 1.5em;
}

.card {
  width: 100%;
  position: absolute;
  z-index: 9000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
  user-select: none;
}

.card:nth-child(2) {
  z-index: 8000;

  margin-top: 1.5em;
  margin-left: 1.5em;

  background: hsl(0 0% 100% / 30%);

  backdrop-filter: blur(0.5em);
}

.card:nth-child(3) {
  z-index: 7000;

  margin-top: 3em;
  margin-left: 3em;

  background: hsl(0 0% 100% / 15%);

  backdrop-filter: blur(0.75em);
}

.card,
.card.is-active {
  z-index: 9500;
  background: hsl(0 0% 100% / 45%);
  backdrop-filter: blur(0.25em);
}

.card-footer {
  font-size: 0.75em;
  color: hsl(280 100% 10% / 75%);
}
