:root {
  --card-hue: 240;
  --card-bg-color: hsl(var(--card-hue) 0% 100% / 45%);
  --card-text-color-pri: hsl(var(--card-hue) 33% 20%);
  --card-text-color-sec: hsl(var(--card-hue) 25% 30%);
  --card-shadow: hsl(var(--card-hue) 0% 0% / 25%);
  --card-border-color: hsl(var(--card-hue) 0% 100% / 25%);
  --card-border-width: 2px;
  --card-blur: 1em;
  --card-padding: 2em;
  --card-radius: 1em;
  --card-width: 540px;
  --card-height: 300px;

  font-size: 130%;
}

body {
  color: var(--card-text-color-pri);
  background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center /
    cover no-repeat fixed;
}

.has-enhanced-card-1 {
  background-image: url(https://source.unsplash.com/g1FlJUOIUXY/2400x1823);
}

.has-enhanced-card-2 {
  background-image: url(https://source.unsplash.com/uCbsQrqSOWU/2400x1823);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: var(--card-width);
  min-height: var(--card-height);
  padding: var(--card-padding);

  border: var(--card-border-width) solid var(--card-border-color);
  border-radius: var(--card-radius);
  background-color: var(--card-bg-color);
  box-shadow: 0 0 10px 1px var(--card-shadow);

  backdrop-filter: blur(var(--card-blur));
}

.card-enhanced-1 {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.75),
    70%,
    rgba(255, 255, 255, 0.25)
  );
}

.card-enhanced-2 {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.75),
    70%,
    rgba(255, 255, 255, 0.25)
  );

  backdrop-filter: blur(var(--card-blur)) saturate(490%);
}

.card-enhanced-2:hover {
  backdrop-filter: blur(var(--card-blur)) saturate(100%) hue-rotate(300deg);
  box-shadow: 0 0 20px 10px hsl(0 100% 100% / 50%);
}

.card-footer {
  font-size: 65%;
  color: var(--card-text-color-sec);
}
