*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1.5em;
}

body {
  font: 1em/160% Inter, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2em;
}
